body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-bottom: 20px;
  background-color: #FFC107;
  border-radius:0px
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #FFA000;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #FFA000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #FFA000;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
  background-color: #FFA000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFA000;
}

.navbar-default .navbar-toggle {
    border-color: #FFA000;
}

.btn-xs{
  background-color: #03A9F4;
  border-color: #03A9F4;
}
